body {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.2rem;
}
h1, h2 {
    text-align: center;
}

#content {
    margin-top: 40px;
}

.complete {
    float: right;
    cursor: pointer;
    font-weight: bold;
}
.decoration {
    float: left;
    cursor: pointer;
    font-weight: bold;
}
.delete-task,
.delete-task:hover {
    float: right;
    cursor: pointer;
    font-weight: bold;
}

.swal-button {
    padding: 0 2.4rem;
    color: white!important;
}

.swal-button--cancel {
    background-color: #191919!important;
}

.swal-overlay {
    background-color: rgba(93, 105, 135, 0.45);
  }

.bgwhite {
    background-color: white;
    border-radius: 50%;
    padding: 2rem;
}


.bgblack {
    background-color: #191919;
    border-radius: 50%;
    padding: 2rem;
}

input[type="submit"] {
    font-size: 1.5rem;
}

.center {
    text-align: center;
}

p.center {
    margin-top: 10rem;
}

li {
    border: 1px solid color-mix(in oklab,oklch(0.62 0.21 259.24)32%,transparent);
    padding: 0.5rem;
    list-style: none;
    background-color: color-mix(in oklab,oklch(0.62 0.21 259.24)4%,transparent);
    border-radius: 4px;
    padding: 8px;
}


input[type="text"] {
    background-color: transparent!important;
}

.emoji-wysiwyg-editor {
    padding: 9px !important;
}

@media (prefers-color-scheme: dark) {
    li {
        background-color: color-mix(in oklab,lab(54.1736% 13.3369 -74.6839)4%,transparent);
    }
}